h1{
    text-align: center;
}
.filsActualite{
    border: 1px solid grey;
    border-radius: 20px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    h4{
        text-align: center;
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    form{
        display: flex;
        flex-direction: column;
        font-family: $font1;
        label{
            font-size: 0.9em;
        }
        .titrePost{
            width: auto;
            font-size: 0.9em;
            border: 1px solid grey;
        }
        textarea{
            font-family: $font1;
            font-size: 1em;
            padding: 5px;
        }
        .photoPost{
            border-radius: 0px;
            cursor: pointer;
        }
        .btnSend{
            border: 1px solid grey;
            
        }
    }

}