.corpsActualite{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    h4{
        margin-top: 10px;
        text-align: center;
    }
    .partieGauche{
        margin-left: 20px;
        background-color: $colorPrimary;
        height:750px;
        width: 23%;
        border-radius: 20px;
    }
    .partieCentre{
        background-color: $colorPrimary;
        height:750px;
        width: 45%;
        border-radius: 20px;
        
    }
    .partieDroite{
        margin-right: 20px;
        display: flex;
        flex-direction: column;
        justify-content:space-between;
        width: 23%;
        .tendance{
            border-radius: 20px;
            background-color: $colorPrimary;
            height: 45%;
            margin-bottom: 50px;
        }
        .suggestion{
            border-radius: 20px;
            background-color: $colorPrimary;
            height: 45%;
        }
    }
}