input{
    border-radius: 10px;
    margin: 5px;
    height: 40px;
    width: 400px;
    text-align: center;
    font-size: 1.1em;
    border: 1px solid grey
}

textarea{
    margin: 5px;
    border-radius: 10px;
}

button{
    height: 35px;
    width: 130px;
    border-radius: 10px;
    font-size: 1.1em;
    cursor: pointer;
}

span{
    font-size: 1.1em;
    // font-weight: bold;
    font-family: $font1;
}

.validatorEmail{
    font-size: 0.9em;
    color: red;
    font-weight: bold;
}

.validatorPassword{
    font-size: 0.9em;
    color: red;
    font-weight: bold;
}

.IdemPassword{
    font-size: 0.9em;
    color: red;
    font-weight: bold;
}