.navigation{
    background-color: $colorSecondary;
    height: 100px;
    display: flex;
    justify-content: space-around;

    img{
        padding-top: 10px;
        padding-bottom: 10px
    }


    ul {
        @include verticalCenter;
        list-style: none;
        li{
            font-size: 1.5em;
            border-radius: 20px;
            height: 50px;
            width: 200px;
            @include verticalCenter;
            background-color: $colorPrimary;
            box-shadow: 4px 4px 4px 1px $colorTertiary;
            color: black;
        }
    }
}